
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(9, 204, 238);
    transition: 0.3s;
}
}

.container{
    width:90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1{
    margin-bottom: 20px;
}

.search-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input{
    flex: 1;
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;
}

.search-box button{
    padding: 15px;
   color:green;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.search-box button:hover{
    background: #2196f3;
}
#locationBtn{
    margin-top: 10px;
    padding: 12px;
    width:100%;
    max-width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #74ebd5;
    color: white;
    transition: 0.3s;
}
#locationBtn :hover{
background: #2196f3;
}
.weather-card img{
    width: 100px;
}

.weather-card h3{
    font-size: 40px;
    margin: 10px 0;
}

.details{
    margin-top: 15px;
}
.weather-card{
    background: linear-gradient(135deg,#74ebd5,#ACB6E5);
    padding: 20px;
    border-radius: 15px;
    color:white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.container:hover{
    transform: scale(1.02);
}
.spinner{

    width: 50px;
    height: 50px;

    border: 5px solid #ddd;
    border-top: 5px solid #3498db;

    border-radius: 50%;

    margin: 20px auto;

    animation: spin 1s linear infinite;

    display: none;

}
#forecast {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

.forecast-day {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}
}
@keyframes spin{

    0%{

        transform: rotate(0deg);

    }

    100%{

        transform: rotate(360deg);

    }

}
@media (max-width: 600px) {

    .container {
        width: 95%;
        padding: 15px;
    }
    body{
        font-size: 16px;
    }

    input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }

    #locationBtn {
        font-size: 14px;
        padding: 10px;
    }
    .search-box{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
}
#forecast {
    grid-template-columns: repeat(2, 1fr);
}

}